<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="shortcut icon" th:href="@{/images/Tunja.png}" type="image/x-icon">

    <script src="https://cdn.tailwindcss.com"></script>
    <title>Error 404</title>
</head>

<body class="bg-slate-800 text-white flex flex-col justify-center items-center h-screen w-screen" style="background-image: url('https://ouch-cdn2.icons8.com/v2PaY4A4IWX_56dzsperoCQB3JwD8ZFA0uyRaj4TzdA/rs:fit:608:456/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9zdmcvMTgy/LzNiNDEwMWNiLWMx/MTQtNDJkMS04MTgw/LTVhZGZlZDFhOTgz/Zi5zdmc.png'); background-size: contain; background-position: center;  backdrop-filter: blur(4px); text-shadow: 3px 3px 8px rgba(1, 1, 14, 0.925);">

    <h1 class="text-3xl font-bold uppercase mb-6 text-red-500 ">ERROR 404</h1>

    <h2 class="text-3xl font-bold uppercase mb-6 ">La URL solicitada no existe</h2>
    <button onclick="window.history.back()" class="text-3xl font-bold uppercase mb-6 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded active:scale-105 transition-all">Volver</button>

</body>

</html>