<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" th:href="@{/images/Tunja.png}" type="image/x-icon">
  <title>Universidad Home</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-slate-800 text-white flex flex-col justify-center items-center h-screen w-screen"
  th:style="'background-image: url('+ @{/images/santoto-tunja.webp} +'); background-size: cover; background-position: center; backdrop-filter:blur(2px)'">
  <header th:replace="~{layout/layout :: header}"></header>
  <h1 class="text-6xl font-bold animate-pulse hover:text-orange-300 hover:scale-110 transition-all"
    style="text-shadow: 3px 3px 6px rgba(72, 70, 212, 0.925);">
    Nuestra universidad
  </h1>
  <footer class="realtive" th:replace="~{layout/layout :: footer}"></footer>
</body>

</html>